<nav class="govuk-grid-row govuk-!-display-none-print">
  <div class="govuk-grid-column-full">

    <ul class="hmpps-profile-tab-links">

      <li class="govuk-heading-s hmpps-profile-tab-link-selected" data-qa="active-tab">
        <span data-qa="Overview">Overview</span>
      </li>

      <li class="govuk-heading-s">
        <a href="/prisoner/G8953GQ/personal" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" data-qa="Personal">Personal</a>
      </li>

      <li class="govuk-heading-s">
        <a href="/prisoner/G8953GQ/case-notes" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" data-qa="Case notes">Case notes</a>
      </li>

      <li class="govuk-heading-s">
        <a href="/prisoner/G8953GQ/alerts/active" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" data-qa="Alerts">Alerts</a>
      </li>

      <li class="govuk-heading-s">
        <a href="/prisoner/G8953GQ/offences" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" data-qa="Offences">Offences</a>
      </li>

      <li class="govuk-heading-s">
        <a href="/prisoner/G8953GQ/work-and-skills"
          class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" data-qa="Work and skills">Work and skills</a>
      </li>

    </ul>

  </div>
</nav>