{% extends "layouts/dps.html" %}

{% set pageName="Home" %}
{% set version="v1" %}
{% set bodyClasses = 'dps home' %}

{% block content %}



<div class="govuk-width-container" id="before-content">
    


<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a href="mailto:external-movements-rollout@justice.gov.uk">feedback</a> will help us to improve it. You can find out more on <a class="govuk-link" target="_blank" href="https://justiceuk.sharepoint.com/sites/prisons-digital/SitePages/External%20Movements%20-%20Homepage.aspx">SharePoint</a>.
    </span>
  </p>
</div>
    
<div class="govuk-!-display-none-print">

  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="dps-home.html">Digital Prison Services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="court-appearance.html">Court appearances</a>
      </li>
    </ol>
  </nav> 
</div>
</div>
<div class="govuk-width-container govuk-!-margin-top-8">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-static-margin-bottom-6">
        <span class="govuk-caption-l">Create a Court appearance</span>
        <label for="searchTerm"><h1 class="govuk-heading-l">Search for a prisoner</h1></label>
      </div>
      <!-- Search Component -->
      <div class="moj-search block-background govuk-!-margin-bottom-8">
  <form id="search-form">
    <div class="govuk-form-group">
      <div id="searchTerm-hint" class="govuk-hint">
        Enter name or prison number. A maximum of 10 results can be returned.
      </div>
      <input class="govuk-input moj-search__input" id="searchTerm" name="searchTerm" type="text" aria-describedby="searchTerm-hint">
    </div>
    <button type="submit" class="govuk-button moj-search__button" data-module="govuk-button">
      Search
    </button>
  </form>
</div>

<!-- Table (Initially Hidden) -->
<table id="prisoner-table" class="govuk-table" style="display: none;">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Prison number</th>
      <th scope="col" class="govuk-table__header">Location</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Riley Taylor</a></td>
    <td class="govuk-table__cell">G5050HF</td>
    <td class="govuk-table__cell">3-1-009</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Riley Taylor">Create a court appearance<span class="govuk-visually-hidden"> for Riley Taylor</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Jordan Smith</a></td>
    <td class="govuk-table__cell">C1234AB</td>
    <td class="govuk-table__cell">RECP</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Jordan Smith">Create a court appearance<span class="govuk-visually-hidden"> for Jordan Smith</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Sam Peterson</a></td>
    <td class="govuk-table__cell">D5566GH</td>
    <td class="govuk-table__cell">4-2-001</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Sam Peterson">Create a court appearance<span class="govuk-visually-hidden"> for Sam Peterson</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Alex Rivera</a></td>
    <td class="govuk-table__cell">C9902ZZ</td>
    <td class="govuk-table__cell">RECP</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Alex Rivera">Create a court appearance<span class="govuk-visually-hidden"> for Alex Rivera</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Riley Cooper</a></td>
    <td class="govuk-table__cell">F1122JJ</td>
    <td class="govuk-table__cell">1-1-005</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Riley Cooper">Create a court appearance<span class="govuk-visually-hidden"> for Riley Cooper</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Casey Morgan</a></td>
    <td class="govuk-table__cell">A1188BC</td>
    <td class="govuk-table__cell">5-2-001</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Casey Morgan">Create a court appearance<span class="govuk-visually-hidden"> for Casey Morgan</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Morgan Finnegan</a></td>
    <td class="govuk-table__cell">E3341LK</td>
    <td class="govuk-table__cell">TAP</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Morgan Finnegan">Create a court appearance<span class="govuk-visually-hidden"> for Morgan Finnegan</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Skyler Quinn</a></td>
    <td class="govuk-table__cell">A0022MM</td>
    <td class="govuk-table__cell">1-2-044</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Skyler Quinn">Create a court appearance<span class="govuk-visually-hidden"> for Skyler Quinn</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Jamie Vance</a></td>
    <td class="govuk-table__cell">B8871PQ</td>
    <td class="govuk-table__cell">4-1-015</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Jamie Vance">Create a court appearance<span class="govuk-visually-hidden"> for Jamie Vance</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Charlie Webb</a></td>
    <td class="govuk-table__cell">G2233NN</td>
    <td class="govuk-table__cell">2-2-008</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Charlie Webb">Create a court appearance<span class="govuk-visually-hidden"> for Charlie Webb</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Dakota Lane</a></td>
    <td class="govuk-table__cell">H4455OP</td>
    <td class="govuk-table__cell">3-3-010</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Dakota Lane">Create a court appearance<span class="govuk-visually-hidden"> for Dakota Lane</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Sam Jenkins</a></td>
    <td class="govuk-table__cell">J7788RR</td>
    <td class="govuk-table__cell">RECP</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Sam Jenkins">Create a court appearance<span class="govuk-visually-hidden"> for Sam Jenkins</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Jordan Lee</a></td>
    <td class="govuk-table__cell">K9900SS</td>
    <td class="govuk-table__cell">1-1-002</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Jordan Lee">Create a court appearance<span class="govuk-visually-hidden"> for Jordan Lee</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Taylor Reed</a></td>
    <td class="govuk-table__cell">L1122TT</td>
    <td class="govuk-table__cell">5-1-009</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Taylor Reed">Create a court appearance<span class="govuk-visually-hidden"> for Taylor Reed</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Riley Scott</a></td>
    <td class="govuk-table__cell">M3344UU</td>
    <td class="govuk-table__cell">2-1-004</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Riley Scott">Create a court appearance<span class="govuk-visually-hidden"> for Riley Scott</span></a>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Hayden Cross</a></td>
    <td class="govuk-table__cell">N5566VV</td>
    <td class="govuk-table__cell">3-2-005</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <a class="govuk-link govuk-link--no-visited-state" href="enter-date-time.html?name=Hayden Cross">Create a court appearance<span class="govuk-visually-hidden"> for Hayden Cross</span></a>
    </td>
  </tr>

</tbody>

</table>

<!-- Optional: No results message -->
<p id="no-results" class="govuk-body" style="display: none;">No prisoners found matching that search.</p>


</div>
</div>
</div>



{% endblock %}
