<h2 class="govuk-heading-m">
    DPS home page
</h2>

<p>The template for <a href="/dps-home">DPS home page</a> is a mix of HTML and json data.</p>
<p>To add your service as a tile, and to the menus, look for the file <code>data/dps-services.json</code> in the data folder. </p> 
<p>Add your services details in the correct alphabetical place in this file with a link and it will create the relevant tile and menu items.</p>
<p>If you have different versions of your prototype, use a dot slash relative url instead of hardcoding it eg. <code>./name-of-folder</code>.</p>
<p>You can also change the prison, the user name or todays prison details in <code>data/session-data-defaults.js</code> if neccessary.</p>